.container, .content {
width: 3200px;
height: 1400px;
}
.row{
    width: 1330px;
    display: block;
    height: 500px;
    margin: 2px;
    border: 1px solid;
}
.column{
    display: inline-block;
    width: 630px;
    height: 331px;
    margin: 10px;
    vertical-align: top;
}
img{
    width: 640px;
    height: 480px;
}
#name{
    vertical-align: top;
}
.column h1{
    text-align: center;
}