.container{
    width: 100%;
    height: 100%;
    border: solid 2px black;
}
header{
    width: 100vw;
    height: 22vh;
    background-image: url(https://www.libertyinsurance.in/images/car-brands/header-tata.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    background-position: center center;
}
img {
    width: 10vw;
    height: 18vh;
    padding: 14px;
}
.searchbar {
    float: right;
    margin-top: -70px;
    margin-right: 90px;

}
.searchbar input{
    padding: 8px 30px;
    border-radius: 12px;
}
.navbar-section{
    text-align: center;
    margin-top: 0vh;
    display: block;
    border: 1px solid black;
    background-color: aliceblue;
    padding: 7px;
}
.navbar-section a{
    padding-left: 60px;
    padding-right: 60px;
    text-decoration: none;
    color: brown;
}
.navbar-section a:hover{
    color: black;
    cursor: pointer;
}

.leftside{
    border: 1px solid black;
    /* width: 20vw; */
    margin-top: 6vh;
    /* height: 54vh; */
    display: block;
    background-image: url(https://w0.peakpx.com/wallpaper/174/1010/HD-wallpaper-tata-car-interior-logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aqua;
    opacity: 0.5;
    float: left;
    width: 30%;
}
.leftside ul,.rightside-wraper ul{
    list-style-type: none;

}
.rightside-wraper{
    float: right;
    /* margin-left: 79.98vw; */
    /* margin-top: -54.3vh; */
    border: 1px solid black;
    /* width: 20vw; */
    margin-top: 6vh;
    /* height: 54vh; */
    display: block;
    background-image: url(https://w0.peakpx.com/wallpaper/174/1010/HD-wallpaper-tata-car-interior-logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    /* margin-top: -54.3vh; */
    /* margin-right: -1vw; */
    width: 30%;
}
.middle{
    width: 40%;
    margin-top: 6vh;
}
.rightside ul li{
    list-style: none;
}
/*
.middle{
    margin-left: 20.2vw;
    width: 59.5vw;
    margin-top: -54vh;
    background-color: lightgray;
}
section{
    margin-left: 0vw;
    display: block;
    height: 54vh;
}
.post-img{
width: 19vw;
padding: 5px;
height: 25.4vh
}*/
.middle-wraper{
    display: flex;
    height: 54vh;
    width: 100%;
}
footer p{
    text-align: center;
    background-color: lightgray;
}
footer {
    display: block;
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/671/294/non_2x/light-blue-green-abstract-blur-texture-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}